:root {
    --primary-color-text: #898f89;
    --primary-color-headlines: #D5A2FE;
    --primary-color-buttons: #c6f9d1;
    --primary-color-background: #f6f1f1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);
}
.hamburger {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--primary-color-text);
    border-radius: 10px;
    background-color: var(--primary-color-buttons);
}
.line {
    width: 70%;
    height: 3px;
    background-color: var(--primary-color-text);
    border-radius: 10px;
}
.profile-image img{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    object-fit: cover;
}