@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root {
    --primary-color-text: #898f89;
    --primary-color-headlines: #f6abf6;
    --primary-color-buttons: #a5f8b7;
    --primary-color-background: #fffffff5;
    --primary-color-line: #fcd6fcef;
    --secondary-color-text: #676d67;
    --secondary-color-line: #f8e8f9;  /* Added the missing '--' for the variable */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);
}
.menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.page-menu {
    justify-self: end;
}
.hamburger {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--primary-color-text);
    border-radius: 10px;
    background-color: var(--primary-color-buttons);
    margin: 20px;
}
.line {          /* Hamburger lines */
    width: 70%;
    height: 4px;
    background-color: var(--primary-color-text);
    border-radius: 10px;
}
.logo-span {
    display: inline-block;
    margin: 25px;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: var(--primary-color-headlines);
}
.profile{                /*container for profile image*/
    text-align: center;
}
.profile-image img{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
hr{                   /* horizontal line */
    width: 120px;
    height: 10px;
    background-color: var(--primary-color-line);
    border: none;
    border-radius: 5px;
}
.headline h3{
    font-family: 'Russo One', sans-serif;
    font-size: 27px;
    color: var(--primary-color-headlines);
    text-align: center;
    margin: 0;
}
.frame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame img{
    width: 288px;
    height: 139px;
    object-fit: cover;
    margin: 20px;
}
.my-clients{
    width: 100%;
}
.card{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.card h4{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: var(--primary-color-text);
    margin: 0px;
}
.card span{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--secondary-color-text);
    background-color: var(--secondary-color-line);
    margin-bottom: 5px;
    padding: 4px;
}
.card p {
    margin: 10px;
}